/*
Tema: Wezen Business
Author: Renan Delgado de Lima
GitHub: https://github.com/renandevcwb/wezen-business
*/

body div header nav main footer button table section aside h1 h2 h3 h4 h5 h6 abbr form input fieldset textarea blockquote cite col label optgroup select  ul li a p span {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal !important;
}

.bg-top{
    background-color: #620e5d !important;
}
wezen-navbar-top{
    transition: 1s;
}

/*
Seção para barra de navegação superior
*/
.wezen-nav-list{
    .navbar-top{
        .nav-item{
            .nav-link{
                color: white !important;
                font-weight: 500;
                transition: .5s;
                &:hover{
                    color: #acacac !important;
                }
            }
        }
    }
}