/*
Tema: Wezen Business
Author: Renan Delgado de Lima
GitHub: https://github.com/renandevcwb/wezen-business
*/

/*
Reset de fonte
*/
body div header nav main footer button table section aside h1 h2 h3 h4 h5 h6 abbr form input fieldset textarea blockquote cite col label optgroup select  ul li a p span {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal !important;
}

.small-text{
    font-size: .9rem !important;
}

.text-second-color{
    color: #f0f0d8;
}

/*
Estilos para Barra superior de navegação
*/
.wezen-navbar-top{
    border-bottom: 1px solid #c9c9c9;
    /*Lista de links*/
    .navbar-top{
        .nav-item{
            .nav-link{
                color: #176ea7;
                font-weight: 500;
                transition: .5s;
                &:hover{
                    color: #000038;
                }
            }
        }
    }
}

.navbar-toggler{
    color: #176ea7;
    transition: .5s;
}
.navbar-toggler:focus{
    color: #000038;
    box-shadow: none !important;
}

/*
Seção de Backgrounds
*/
.bg-first-color{
    background-color: #000038;
}

.bg-second-color{
    background-color: #f0f0d8;
}

.bg-third-color{
    background-color: #176ea7;
}

.bg-cta-color{
    background-color: #f0c505;
}

/*
Formulário de Newsletter
*/
.wezen-newsletter{
    .row{
        .news-title{
            font-size: 1.2rem;
        }
        .form-news{
            .news-control{
                border: none !important;
            }
            .btn-news{
                background-color: #f0c505;
                border: none !important;
            }
        }
    }
}
/*
Barra de Pesquisa
*/
.wezen-search{
    border: 1px solid #176ea7;
    transition: .5s;
    .wezen-control{
        background-color: #fff;
        color: #000;
        border: none !important;
        box-shadow: none !important;
    }
    .btn-search{
        background-color: #fff;
        border: none !important;
        box-shadow: none !important;
    }
}

.wezen-search:focus{
    border: 1px solid #f0c505;
}
/*
Seção de Rodapé
*/
.footer-title{
    font-size: 1.3rem !important;
}

.text-dev{
    color: white !important;
    text-decoration: none;
    transition: 1s;
    &:hover{
        text-decoration: underline;
    }
}

/*
Navegação de Redes Sociais
*/
.social-list{
    .nav-item{
        .nav-link{
            color: #f0f0d8 !important;
            font-size: 1.6rem;
            transition: 1s;
        &:hover{
            color: #f0c505 !important;
        }
        }
    }
}

/*
Barra de Navegação do Rodapé
*/
.nav-pages{
    .nav-item{
        .nav-link{
            padding: 8px;
            color: #f0f0d8;
            transition: .5s;
            &:hover{
                color: #f0c505;
            }
        }
    }
}
/*
Alterações para card posts
*/
.card-post{
    .post-body{
        .post-title{
            font-size: 1.3rem !important;
        }
    }
}
